* {
    margin: 0;
    padding: 0;
    

  }
  /* .nav_ul {
    display: flex;
    justify-content: center;
  } */
  
  .nav_ul li {
    padding: 0 0.6rem;
    color:var(--primary-color);
    font-size: 1.01rem;
    color: #000 !important;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
  
  
  .btn1 {
    border: 0;
    padding: 0.5rem 1.8rem;
    color: #fff;
    background-color: #495E57;
    display: inline-block;
    line-height: 1.5625rem;
    border: 0.1875rem solid var(--secondry-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
  }
  .btn1:hover:hover {
    background-color: transparent;
    color: var(--secondry-color);
  }
  .btn2 {
    border: 0;
    padding: 0.5rem 1.8rem;
    color: #fff;
    background-color:#e6c20e;
    display: inline-block;
    line-height: 1.5625rem;
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
  }
  .btn2:hover:hover {
    background-color: transparent;
    color: var(--primary-color);
  }
  .no-hover-effect:hover {
    box-shadow: none !important; /* Important to override Bootstrap's CSS */
    transform: none !important;
}
