.supplement-container {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}


.info-box {
    display: flex;
    height: max-content;
    align-items: center;
    background-color: #FFF9C4;
    padding: 20px;
    margin-bottom: 20px;
}

.info-image {
    flex: 0 0 auto; /* You can adjust the size here */
    padding-right: 20px;
}

.info-image img {
    width: 100%; /* or fixed width as needed */
    height: auto; /* maintain aspect ratio */
    max-width: 120px; /* adjust as needed */
}
.info-content h2 {
    margin: 0;
    color: #333;
    font-size: 1.5rem;
}

.info-content p {
    margin: 0;
    color: #666;
}

@media (max-width: 768px) {
    .info-box {
        flex-direction: column;
        text-align: center;
    }
    
    .info-image {
        margin-bottom: 10px;
    }
}
